
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Bootstrap уроки</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body class="bg-secondary">
    <div class="container bg-light">

        <span th:insert="~{parts/headerMy.html :: header(user=${user}, namePage='addQuiz')}"></span>

        <div class="row min-vh-100">
            <div class="col-md-8">
                <form action="#" th:action="@{/GUI/addQuiz}" method="post">
                    <h3 class="mb-3">Create new Quiz</h3>
                    <div class="mb-3" th:object="${quiz}" >
                        <label for="title">Title</label>
                        <input type="text" th:field="*{title}" class="form-control" id="title" >
                    </div>
                    <div class="mb-3" th:object="${quiz}" >
                        <label for="text">Text</label>
                        <textarea type="text" th:field="*{text}" class="form-control" id="text" rows="4"></textarea>
                    </div>
                    <div class="mb-3" >
                        <table class="table">
                            <thead>
                                <tr>
                                    <td style="width: 95%">Options</td>
                                    <td style="width: 5%"> Answers </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> <span th:object="${quiz}"> <input class="form-control" th:field="*{options[0].option}"/> </span> </td>
                                    <td class="text-center"> <span th:object="${arrayListBooleanWrapper}"> <input type="checkbox" th:field="*{boolList[0].bool}"/> </span> </td>
                                </tr>
                                <tr>
                                    <td> <span th:object="${quiz}"> <input class="form-control" th:field="*{options[1].option}"/> </span> </td>
                                    <td class="text-center"> <span th:object="${arrayListBooleanWrapper}"> <input type="checkbox" th:field="*{boolList[1].bool}"/> </span> </td>
                                </tr>
                                <tr>
                                    <td> <span th:object="${quiz}"> <input class="form-control" th:field="*{options[2].option}"/> </span> </td>
                                    <td class="text-center"> <span th:object="${arrayListBooleanWrapper}"> <input type="checkbox" th:field="*{boolList[2].bool}"/> </span> </td>
                                </tr>
                                <tr>
                                    <td> <span th:object="${quiz}"> <input class="form-control" th:field="*{options[3].option}"/> </span> </td>
                                    <td class="text-center"> <span th:object="${arrayListBooleanWrapper}"> <input type="checkbox" th:field="*{boolList[3].bool}"/> </span> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <button class="btn btn-danger" type="reset">Reset</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

