<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Bootstrap уроки</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body class="bg-secondary">
<div class="container bg-light min-vh-100">

    <span th:insert="~{parts/headerMy.html :: header(user=${user}, namePage='deleteQuizPage')}"></span>

    <div class="row">
        <div class="col-md-8">
            <form action="#" th:action="@{/GUI/deleteQuizResult}" method="post">
                <h3 class="mb-3 text-center m-5">Delete Quiz</h3>

                <div class="row" th:object="${numberQuiz}">
                </div>
                <div class="row" th:object="${numberQuiz}">
                    <div class="col-md-2"></div>
                    <div class="col-md-7">
                        <div class="input-group mb-3" id="inGroup">
                            <div class="input-group-prepend">
                                <span class="input-group-text">ID Quiz</span>
                            </div>
                            <input type="text" th:field="*{str}" class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </div>
                        </div>

                        <span th:if="${mesToUser.equals('Quiz not exist')}">
                            <label class="text-danger" for="inGroup">Quiz not exist</label>
                        </span>
                        <span th:if="${mesToUser.equals('Its not your Quiz')}">
                            <label class="text-danger" for="inGroup">Its not your Quiz</label>
                        </span>
                        <span th:if="${mesToUser.equals('Quiz deleted')}">
                            <label class="text-danger" for="inGroup">Quiz deleted</label>
                        </span>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </form>
        </div>
        <div class="col-md-4 bg-info">
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

